---
import BaseLayout from "../layouts/BaseLayout.astro";
import DashboardHeader from "../components/dashboard/DashboardHeader.astro";
// import DashboardLabs from "../components/dashboard/DashboardLabs.astro";
import DashboardRecommend from "../components/dashboard/DashboardRecommend.astro";
import Matrix from "../components/dashboard/Matrix.svelte";
import { checkSession } from "../utils/checkSession";

const isLoggedin = await checkSession(Astro);
---

<BaseLayout title="SKF | Dashboard" isLoggedin={isLoggedin}>
  <div class="wrapper">
    <DashboardHeader />
    <!-- <DashboardLabs /> -->
    <DashboardRecommend />
    <Matrix client:load />
  </div>
</BaseLayout>
