---
import LoginRegisterLayout from "../layouts/LoginRegisterLayout.astro";
import FormLogin from "../components/RegisterAndLogin.svelte";
---

<LoginRegisterLayout title="SKF | Login">
  <div class="wrapper">
    <FormLogin client:load mode="login" />
  </div>
</LoginRegisterLayout>

<style>
  :global(body) {
    background-image: url("/imgs/background-logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }
</style>
