---
import BaseLayout from "../layouts/BaseLayout.astro";
import Profile from "../components/profile/Profile.svelte";
---

<BaseLayout title="SKF | Profile">
  <div class="wrapper">
    <Profile client:load />
  </div>
</BaseLayout>
