---
import BaseLayout from "../layouts/BaseLayout.astro";
import Profile from "../components/profile/Profile.svelte";
import { checkSession } from "../utils/checkSession";

const isLoggedin = await checkSession(Astro);
if (!isLoggedin) return Astro.redirect("/login");
---

<BaseLayout title="SKF | Profile" isLoggedin={isLoggedin}>
  <div class="wrapper">
    <Profile client:load isLoggedin={isLoggedin} />
  </div>
</BaseLayout>
