---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Profile } from "../components/profile/Profile";
import { Logout } from "../components/profile/Logout";
---

<BaseLayout title="SKF | Profile">
  <h1>User Profile</h1>
  <Profile client:load />
  <Logout client:load />
</BaseLayout>
