---
import Baselayout from "../layouts/Baselayout.astro";
import { Profile } from "../components/profile/Profile";
import { Logout } from "../components/profile/Logout";
---

<Baselayout title="SKF | Profile">
  <h1>User Profile</h1>
  <Profile client:load />
  <Logout client:load />
</Baselayout>
