---
export interface Props {
  certificates: { name: string; description: string }[];
}

const { certificates } = Astro.props;
---

<div class="wrapper jumbotron">
  <h1>SKF Certifications</h1>
  <p>
    We provide top notch certifications based on our open data and education
    platform where you can train and practise with hand-on labs. We are a
    Non-Profit foundation with the ony focus to create high quality content and
    education to everybody that is interested to improve and learn new skills in
    Cyber Security. 
    <br><br>
    The learning platform <a href="https://secureby.design"
      >Security Knowledge Framework</a
    > can be used to prepare you for the certifications and prove you master the
    knowledge and hand-on skills to make a positive impact.
  </p>
  <div class="certificates">
    {
      certificates.map((certificate) => {
        const url = encodeURIComponent(certificate.name);
        return (
          <div class="certificate">
            <h2>{certificate.name}</h2>
            <p>{certificate.description}</p>
            <a class="btn" href={`/module/${url}`}>
              Learn More
            </a>
          </div>
        );
      })
    }
  </div>
</div>

<style>
  .wrapper {
    --margin: 2.5rem;
    margin-top: var(--margin);
  }

  .wrapper h1,
  .wrapper p {
    margin-bottom: var(--margin);
  }

  .wrapper h1 {
    font-size: 3rem;
  }

  .certificate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary-700);
    @apply p-4 md:p-8;
    border-radius: 0.5rem;
    margin-bottom: var(--margin);
  }

  .certificate h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .certificate p {
    font-size: 1rem;
  }

  .btn {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--primary-600);
    color: var(--text-primary);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }

  .btn:hover {
    background-color: var(--primary-500);
  }

  .btn:active {
    background-color: var(--primary-700);
  }
</style>
