---
const certificates = [
  {
    name: "Secure software Development Fundamentals",
    description:"Modern software is under constant attack, but many software developers have never been told how to effectively counter those attacks. This certification is to cover that problem, by proving you master the fundamentals of developing secure software.",
  },
  {
    name: "Java Secure software Development expert",
    description:"The fundamentals are important to master but in the expert certification we go deeper in the rabbit hole. We will cover the different layers of security based on the Application Security Verification Standard (OWASP-ASVS). This certification is to cover all, by verifying you master the advanced cases of developing secure software in Java.",
  },
  {
    name: "Python Secure software Development expert",
    description:"The fundamentals are important to master but in the expert certification we go deeper in the rabbit hole. We will cover the different layers of security based on the Application Security Verification Standard (OWASP-ASVS). This certification is to cover all, by verifying you master the advanced cases of developing secure software in Python.",
  },
  {
    name: "NodeJS Secure software Development expert",
    description:"The fundamentals are important to master but in the expert certification we go deeper in the rabbit hole. We will cover the different layers of security based on the Application Security Verification Standard (OWASP-ASVS). This certification is to cover all, by verifying you master the advanced cases of developing secure software in NodeJS.",
  },
  {
    name: "WEB/API Penetration Testing",
    description:
      "Everyting is connected and the easiest way is building Web/API Applications to achieve this but they might have serious vulnerabilities. The defacto standard that is used to verify these and used by penetration testing teams is the Web Application Security Testing Guide (OWASP-WSTG). This certification is all about Web/API Application Penetration Testing and finding security holes in those applications.",
  },
  {
    name: "Infra Penetration Testing",
    description:
      "Everyting is connected and the easiest way is building Web/API Applications to achieve this but they might have serious vulnerabilities. The defacto standard that is used to verify these and used by penetration testing teams is the Web Application Security Testing Guide (OWASP-WSTG). This certification is all about Web/API Application Penetration Testing and finding security holes in those applications.",
  },
];
---

<div class="wrapper">
  <h1>SKF Certifications</h1>
  <p>
    We provide top notch certifications based on our open data and education platform where you can train and practise with hand-on labs. We are a Non-Profit foundation with the ony focus to create high quality content and education to everybody that is interested to improve and learn new skills in Cyber Security. The learning platform <a href="https://secureby.design">Security Knowledge Framework</a> can be used to prepare you for the certifications and prove you master the knowledge and hand-on skills to make a positive impact.
  </p>
  <div class="certificates">
    {
      certificates.map((certificate) => (
        <div class="certificate">
          <h2>{certificate.name}</h2>
          <p>{certificate.description}</p>
          <button>Learn More</button>
        </div>
      ))
    }
  </div>
</div>

<style>
  .wrapper {
    --margin: 2.5rem;
    margin-top: var(--margin);
  }

  .wrapper h1,
  .wrapper p {
    margin-bottom: var(--margin);
  }

  .wrapper h1 {
    font-size: 3rem;
  }

  .certificate {
    background-color: var(--primary-700);
    padding: 1.25rem;
    border-radius: 0.5rem;
    margin-bottom: var(--margin);
  }

  .certificate h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .certificate p {
    font-size: 1rem;
  }
</style>
