<nav>
  <a href="/">Home</a>
  <a href="/profile">profile</a>
  <a href="/dashboard">dashboard</a>
  <a href="/login">login</a>
  <a href="/register">register</a>
  <a href="/labs">labs</a>
</nav>

<style>
  nav {
    margin-bottom: 1rem;
  }
</style>
