---
import Logo from "./svgs/Logo.astro";
import Nav from "./Nav.svelte";
---

<nav class="wrapper">
  <a href="/" class="logo">
    <Logo />
    <p>SKF</p>
  </a>
  <Nav client:load />
</nav>

<style>
  nav.wrapper {
    margin-bottom: 2rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 100%;
  }

  nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
  }
</style>
