---
import Logo from "../svgs/Logo.astro";
import { Nav } from "./Nav";
import { isUserLoggedIn } from "../db/users/isLogin";
---

<nav class="wrapper">
  <div class="logo">
    <Logo />
    <p>SKF</p>
  </div>
  <Nav client:load />
</nav>

<style>
  nav {
    margin-bottom: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: var(--primary-500);

    width: 100%;
  }

  nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: var(--primary-500);
    font-weight: 600;
  }

  nav :global(ul) {
    list-style: none;
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 0.5rem;
  }

  nav :global(ul a) {
    padding: 1em 1.2em;
  }

  nav :global(ul a:hover) {
    border-radius: 1.5em;
    color: white;
    background-color: var(--primary-500);
  }
</style>
