---
import Logo from "./svgs/Logo.astro";
import Nav from "./Nav.svelte";

export interface Props {
  isLoggedin: boolean;
}

const { isLoggedin } = Astro.props;
---

<nav class="wrapper">
  <a href="/" class="logo">
    <Logo />
    <p class="lt-md:hidden">SKF Examination Platform</p>
  </a>
  <Nav client:load isLoggedin={isLoggedin} />
</nav>

<style>
  nav.wrapper {
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 100%;
  }

  nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
    font-weight: 600;
  }
</style>
