@import '@acab/reset.css';

@import '@fontsource/manrope';
@import '@fontsource/lexend-deca';
@import '@fontsource/electrolize';

@import '@fontsource/open-sans';
@import '@fontsource/open-sans/800';
@import '@fontsource/open-sans/700';
@import '@fontsource/open-sans/600';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  @apply container;
  margin: 0 auto;
  max-width: 1120px;
}

.jumbotron {
  max-width: 85ch;
  margin: 0 auto;
}

@media only screen and (max-width: 1140px) {
  .wrapper {
    max-width: 100%;
    padding: 0 40px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 320px) {
  .wrapper {
    padding: 0 15px;
  }
}

:root {
  --text-primary: #fff;

  --primary-200: #9799bf;
  --primary-300: #7477a9;
  --primary-400: #515594;
  --primary-500: #414476;
  --primary-600: #313359;
  --primary-700: #20223b;
  --primary-800: #181a2c;
  --primary-900: #10111e;

  --secondary-50: #faf3f4;
  --secondary-200: #f5c6c7;
  --secondary-500: #e15154;

  --background-gradient: linear-gradient(
    111.43deg,
    #bebfd7 5.75%,
    #ebe6ed 31.48%,
    #faf3f4 53.47%,
    #f5c6c7 93.85%
  );
  --gradient: linear-gradient(
    111.43deg,
    var(--primary-500) 5.75%,
    var(--secondary-500) 31.48%
  );

  --font-heading: "Lexend Deca", serif;
  --font-body: "Manrope", sans-serif;
  --font-decoration: "Electrolize", sans-serif;
  --section-padding: 3em;
}

body {
  font-family: var(--font-body);
  font-style: normal;
  font-weight: 400;
  color: var(--text-primary);

  background-color: var(--primary-800);
  @apply text-base leading-7 md:leading-8;
}

button,
.btn {
  outline: none;
  border: none;
  padding: 1em 2em;
  border-radius: 2em;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

a,
input,
textarea,
p,
span,
select,
li {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

.small-text {
  font-size: 0.75rem;
}

/* width and height */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--primary-500);
  border-left: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-500);
  border: 3px solid var(--primary-500);
  border-radius: 15px;
}
