---
import RegisterInput from "../RegisterAndLogin.svelte";
import Incognito from "../svgs/Incognito.astro";

const benefits = [
  {
    title: "Lorem ipsum dolor sit",
    description:
      "Lorem ipsum dolor sit amet consectetur. Lobortis cursus orci.",
  },
  {
    title: "Lorem ipsum dolor sit",
    description:
      "Lorem ipsum dolor sit amet consectetur. Lobortis cursus orci.",
  },
  {
    title: "Lorem ipsum dolor sit",
    description:
      "Lorem ipsum dolor sit amet consectetur. Lobortis cursus orci.",
  },
];
---

<div class="content">
  <div class="info">
    <div class="main">
      <h3>Security Knowledge Framework</h3>
      <ul>
        {
          benefits.map((benefit) => (
            <li>
              <div class="title">
                <div class="icon">
                  <Incognito />
                </div>
                <h4>{benefit.title}</h4>
              </div>
              <p>{benefit.description}</p>
            </li>
          ))
        }
      </ul>

      <div class="footer">
        <div class="sign-in">
          <p>Have an account?</p>
          <a href="/login">Sign in</a>
        </div>

        <div class="info">
          <a href="">Contact</a>
          <a href="">Terms of Service</a>
          <a href="">Privacy Policy</a>
        </div>
        <p class="small-text">© 2022 Security Knowlegde Framework</p>
      </div>
    </div>
  </div>
  <RegisterInput client:load mode="register" />
</div>

<style>
  :global(body) {
    background-image: url("/imgs/background-logo.svg");
    background-repeat: no-repeat;
    background-position: right center;
  }

  .content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: 100%;
    width: 50%;
    color: var(--text-primary);
    padding-right: 3rem;
    background-color: var(--primary-700);
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .info h3 {
    font-size: 2rem;
  }

  .info ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  ul li .title {
    font-weight: 600;
    font-size: 16px;
  }

  li {
    list-style: none;
  }

  li h4 {
    text-align: left;
    font-weight: 600;
    font-size: 1.25rem;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .icon {
    display: flex;
    margin-right: 0.5rem;
  }

  .icon :global(svg) {
    fill: var(--text-primary);
    width: 20px;
    height: 20px;
  }

  .info .sign-in {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-self: center;
  }

  .info .sign-in a {
    font-weight: 600;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
  }

  .footer .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 8px;
    width: 100%;
  }
</style>
