---
import RegisterInput from "../RegisterAndLogin.svelte";

const benefits = [
  {
    title: "Lorem ipsum dolor sit",
    description:
      "Lorem ipsum dolor sit amet consectetur. Lobortis cursus orci.",
  },
  {
    title: "Lorem ipsum dolor sit",
    description:
      "Lorem ipsum dolor sit amet consectetur. Lobortis cursus orci.",
  },
  {
    title: "Lorem ipsum dolor sit",
    description:
      "Lorem ipsum dolor sit amet consectetur. Lobortis cursus orci.",
  },
];
---

<div class="info">
  <h3>Security Knowledge Framework</h3>
  <ul>
    {
      benefits.map((benefit) => (
        <li>
          <h4>{benefit.title}</h4>
          <p>{benefit.description}</p>
        </li>
      ))
    }
  </ul>

  <div class="footer">
    <div class="sign-in">
      <p>Have an account?</p>
      <a href="/login">Sign in</a>
    </div>

    <div class="info">
      <a href="">Contact</a>
      <a href="">Terms of Service</a>
      <a href="">Privacy Policy</a>
    </div>
    <p class="small-text">© 2022 Security Knowlegde Framework</p>
  </div>
</div>
<RegisterInput client:load mode="register" />

<style>
  body {
    background: linear-gradient(
      to right,
      var(--primary-800) 0%,
      var(--primary-800) 50%,
      var(--primary-900) 0%,
      var(--primary-900) 50%
    );
  }

  .info {
    width: 50%;
    color: white;
    padding: 24px;
  }

  .info ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 320px;
    margin: 48px 0px;
  }

  ul li .title {
    font-weight: 600;
    font-size: 16px;
  }

  li h4 {
    text-align: left;
  }

  .info .sign-in {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-self: center;
  }

  .info .sign-in a {
    font-weight: 600;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 8px;
    width: 100%;
  }
</style>
