---
import { LoginInpout } from "./LoginInput";
---

<div class="wrapper">
  <LoginInpout client:load />
</div>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  .wrapper :global(form) {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
</style>
