<div class="form-login">
  <h3>Sign in to your account</h3>
  <form action="" method="post">
    <label for="email">Username or email</label>
    <input type="text" name="email" id="email" />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" />

    <a href="/">Forgot Password?</a>
    <input type="button" value="Sign In" />
  </form>
  <p>Or sign in with</p>
  <button class="sign-with">Github</button>
  <button class="sign-with">Google</button>
  <div class="new-user">
    <span>New user? <a href="/register">Register</a></span>
  </div>
</div>

<style>
  .form-login {
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .form-login form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  .form-login > button {
    width: 100%;
  }
</style>
