---
import Auth from "../components/Auth.svelte";
import Nav from "../components/NavWrapper.astro";
import "../css/base.css";

export interface Props {
  title: string;
  loadNav?: boolean;
  isLoggedin: boolean;
}

const { title, loadNav = true, isLoggedin } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Auth client:load />
    {loadNav && <Nav isLoggedin={isLoggedin} />}
    <slot />
  </body>
</html>
